.cardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardHeaderText {
    margin-left: 22px;
}

.buttonGroup {
    display: flex;

}

.leftContent {
    display: flex;
    align-items: center;
}

.buttonItem {
    margin: 0 5px;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    grid-template-areas:
        "header header header header header"
        "info info edit edit edit";
}

.editForm {
    grid-area: edit;
}

.header {
    grid-area: header;
}

.info {
    grid-area: info;
}