.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 22px 20px 16px;
}

.loginBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}





