@font-face {
    font-family: "PlusJakartaSans";
    src: url("/public/fonts/PlusJakartaSans/PlusJakartaSans[wght].ttf");
    font-style: normal;
    font-display: swap;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    outline: none;
}

body, * {
    font-family: PlusJakartaSans, sans-serif !important;
}

body {
    background: url("../src/img/Background.png") no-repeat top center / cover;
}

:root {
    --white: #fff;
    --blue: #0075FF;
    --grey: #718096;
    --dark-blue: #1A1F37;
}